@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Muli, sans-serif;

}

.nav-links {
  list-style-type: none;
  display: none
}

.nav-links a {
  display: block;
  padding: 20px;
  background: #191919;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
  color:#03243e;
  transition: color 2s ease, background 2s ease, padding 2s ease;
}


.nav-links a:hover {
  background: #919191;
  color: #03243e;
  padding-left: 30px;

}

.nav-icons {
  display: none;
}


.nav-icons a path{
  color: #03243e;
  transition: color 2s ease, background 2s ease, padding 2s ease;
}

.nav-container {
  padding: 0 20px;
  border-bottom: 5px solid transparent;
  display: flex;
  justify-content: space-between
}

.nav-container img {
  width: 100px;
  align-self: center;

}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 4px;
  margin: 5px;
  background: #03243e;
  transition: transform 1s ease, opacity 1s ease;
}

.btn {
  padding: 2px;
  display: inline-block;
  border: 4px solid #03243e;
  /* border: 4px solid #8fcbfd; */
  cursor: pointer;
  align-self: center;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}



/* header */

header {
  min-height: 100vh;
  background: url(img-home/Rome-Vatican-Bridge.jpg)center/cover fixed no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
 
  display: flex;
  flex-direction: column;
}

nav {
  flex: 0 0 auto;
}

.banner {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .banner h1 span,
.banner h3 {
  font-family: 'Rock Salt', cursive;
} */
.banner h1 p,
.banner h3 {
   font-family: Muli, sans-serif;
}

.bannerCard {
  flex: 0 0 90%;
  text-align: center;
  padding: 70px 0;
  outline: 1px solid #191919;
  outline-offset: -10px;
  background: rgba(255, 255, 255, 0.5);
}

.bannerCard h1 {
  font-size: 60px;
  /* color: #8579D9; */
  -webkit-text-stroke: 1px #847552;

  /* color: #8fcbfd; */
  /* font-style: italic; */
  text-transform: uppercase;
}

.bannerCard span {
  color: #03243e;
}

.bannerCard h3 {
  text-transform: capitalize;
  letter-spacing: 8px;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 2rem;
  -webkit-text-stroke: 1px #847552;

}

.bannerCard h4 {
  text-transform: uppercase;
  font-size: 20px;
  -webkit-text-stroke: 1px #847552;
  /* color: #03243e; */
  padding-bottom: 0.4rem;
  }

.tourCard p {
  margin: auto 8rem;
  }

.btn-call {
  background-color: #d9b55a;
  border: 1px solid #03243e;
  border-radius: 1em;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 1.4rem;
  margin: 1rem;
}

.btn-call:hover {
  transition-duration: 0.1s;
  background-color: #f2d89c;
  color: #03243e !important;
}

/* pages */

.tourCard {
  flex: 0 0 90%;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 28rem;
  outline: 1px solid #191919;
  outline-offset: -5px;
  background: rgba(244, 232, 222, 0.8);
  color: #443232;
  font-family: Muli, sans-serif;
}

.tourCard h1 {
  text-transform: uppercase;
}
.tourCard p {
  margin: auto 8rem;
}

.tourover p strong {
  font-size: larger;
  text-decoration: underline;
}

@media screen and (max-width:776px) {

  .tourCard p {
    margin: auto 2rem;
  }
  .tourCard h1 {
    text-transform:capitalize;
    margin-top: 20rem;
  }
  .food-tour {
    padding-top: 27rem;
  }
  /* .walking-tour {
    padding-top: 88rem;
  } */
  .walking-pasta-class {
    padding-top: 30rem;
  }
  .walking-pizza-class {
    padding-top: 30rem;
  }
}


.walking-tour {
  background: url(img-pages/walking-tour.jpg)center/cover fixed no-repeat;
  padding-top: 80rem;
}

.food-tour {
  background: url(img-pages/food-tour.jpg)center/cover fixed no-repeat;
  padding-top: 125rem;
}

.wine-tour {
  background: url(img-pages/wine-tour.jpg)center/cover fixed no-repeat;
  padding-top: 80rem;
}

.walking-pizza-class {
  background: url(img-pages/walking-pizza-class.jpg)center/cover fixed no-repeat;
  padding-top: 99rem;
}

.walking-pasta-class {
  background: url(img-pages/walking-pasta-class.jpg)center/cover fixed no-repeat;
  padding-top: 120rem;
}

.full-cooking-class {
  background: url(img-pages/full-cooking-class.jpg)center/cover fixed no-repeat;
  padding-top: 120rem;
}

@media screen and (min-width:992px) {
  .btn {
    display: none;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav-container {
    background: transparent;
    border-bottom: none;
    flex: 0 0 auto;
  }
  .nav-links {
    padding: 0 20px;
    flex: 1 0 auto;
    display: flex!important;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-self: center;
  }
  .nav-links li {
    flex: 1 0 auto;
  }
  .nav-links a {
    background: transparent;
    text-align: center;
    border-radius: 5px;
    padding: 20px 10px;
  }
  .nav-links a:hover {
    padding-left: 10px;
  }
  .nav-icons {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0 20px
  }
  .nav-icons li {
    flex: 1 0 40px;
    text-align: center;

  }

  .nav-icons a {
    font-size: 30px;
    color: #8579D9;
    transition: color 2s ease 0.3s;
  }
  
  .bannerCard {
    flex: 0 0 70%;
  }

}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background 2s ease;
}


.navBackground {
  background: rgba(0, 0, 0, 0.8);
}

/* tours */


.tours {
  padding: 100px 0;
  background-color: #03243e;
}

.tours-center {
  width: 90%;
  margin: 0 auto;

}

.tour {
  text-align: center;
  margin: 30px 0;
  color: rgba(244, 232, 222, 0.8);
}

.tour a {
  transition: opacity 2s ease;
  text-decoration: none;
}
.tour img{
  max-width: 18rem;
  border: solid .5px white;
}


.tour a:hover {
  opacity: 0.4;
  cursor: pointer;
}


.tour h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 5px 0 10px 0;
  font-weight: 400;
}


.tour p {
  line-height: 2;
  letter-spacing: 5px
}

.tour li{
  font-size: small;
  list-style-type:none;
}


@media screen and (min-width:776px) {

  .tours-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .tour {
    flex: 0 0 calc(50% - 20px);
  }
}


@media screen and (min-width:992px) {

  .tour {
    flex: 0 0 calc(33.333% - 1px);
    margin: 0;
    padding: 20px;
  }
  .tours article:first-of-type {
    border-right: 1px solid #f5f3f5;
  }
  .tours article:nth-of-type(3) {
    border-left: 1px solid #f5f3f5;
  }
  .tours article:nth-of-type(4) {
    border-right: 1px solid #f5f3f5;
    border-top: 1px solid #f5f3f5;
  }
  .tours article:nth-of-type(6) {
    border-left: 1px solid #f5f3f5;
    border-top: 1px solid #f5f3f5;
  }
  .tours article:nth-of-type(5) {
    border-top: 1px solid #f5f3f5;
  }
  .tours article:nth-of-type(5) {
    border-top: 1px solid #f5f3f5;
  }
  .tours article:nth-of-type(8) {
    border-top: 1px solid #f5f3f5;
  }
  .tours article:nth-of-type(7) {
    border-top: 1px solid #f5f3f5;
    border-right: 1px solid #f5f3f5;
  } 
  .tours article:nth-of-type(9) {
    border-top: 1px solid #f5f3f5;
    border-left: 1px solid #f5f3f5;
  }  
}

/* testimonials */

.testimonials {
  /* 220px */
  padding: 8rem 0;
    background: linear-gradient(rgba(80, 142, 150, 0.149), rgba(170, 175, 95, 0.2)), url(img-home/Rome-Rainbow.jpg)center/cover fixed no-repeat;
}

.testimonial {
  width: 90%;
  margin: 70px auto;
  text-align: center;
  padding: 10px 20px;
  background: #f5f3f5;
  border-radius: 20px;
}

.testimonial a {
  font-size: 50px;
  color: #8fcbfd;
}

.testimonial p {
  margin: 20px;
  line-height: 2;
  color: #8d8d8d;
}

.testimonial h3 {
  text-transform: capitalize;
  color: #8fcbfd;
  padding: 3rem 0;
  font-size: 1.5rem;
}
.testimonial i {
  color: #8fcbfd !important;
}

.testimonial h6 a{
  text-transform:uppercase;
  text-decoration: none;
  color: black !important;
  font-size: 15px;
  margin: 10px 0 20px 0;
}

.testimonial img {
  width: 150px !important;
  margin: 0 auto;
  border-radius: 50%;
  border: solid 1px white;
  margin-bottom: -60px;
}

/*about */

#toc_container {
  background: #03243e none repeat scroll 0 0;
  border: 1px solid rgba(244, 232, 222, 0.8);
  flex: 0 0 70%;
  text-align: center;
  padding: 70px 0;
  outline: 1px solid #191919;
  outline-offset: -10px;
  margin-bottom: 1em;
  padding: 20px;
  width: auto;
  color: rgba(244, 232, 222, 0.8);
  font-size: large;
}

.toc_title {
  font-weight: 700;
  text-align: center;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}

#toc_container li, #toc_container ul, #toc_container ul li, #toc_container ul li a{
  list-style: outside none none !important;
  color: rgba(244, 232, 222, 0.8) !important;
  padding-bottom: 1rem;
}

section article h2 {
  scroll-margin-top: 100px
}

.about {
  padding: 100px 0;
  background-color: #03243e;
}

.about-center {
  width: 90%;
  margin: 0 auto;

}

.about-statement {
  color: rgba(244, 232, 222, 0.8);
  font-family: Muli, sans-serif;
  text-align: center;

}



.about-statement h2 {
  text-transform: uppercase;
  padding: 20px 0;
  /* text-align: center; */

}
.about-statement p {
  padding-top: 10px;
  font-size: large;
  text-align: center;

}

.about center {
  margin-top: 3rem;
}

@media screen and (min-width:776px) {

  .about-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about {
    flex: 0 0 calc(50% - 20px);
  }
}

/* contact*/

.contact {
  padding: 170px 0;
  background: linear-gradient(rgba(205, 202, 5, 0.172), rgba(14, 45, 101, 0.7)), url(img-home/Rome-Piazza-Di-Spagna.jpg) center/cover fixed no-repeat;

  color: rgba(244, 232, 222, 0.8);

  min-height: 50rem;
}


.contact-info,
.contact-form {
  margin: 40px 0;
  padding: 20px 40px;
}

.contact-detail {
  display: flex;
  margin: 20px 0;
  border-radius: 20px;
  padding: 1rem;
}

.contact-icon {
  font-size: 50px;
  margin-right: 20px;
  align-self: center;
}

.contact-detail:hover {
  color: white;
  background: linear-gradient(rgba(3,36,62, 0.7), rgba(3,36,62, 0.7)) center/cover fixed no-repeat;
}

.contact-text p {
  /* text-transform: uppercase; */
  font-size: 25px;
  /* margin-bottom: 20px; */
}

.contact-form {
  background: #f5f3f5;
  padding: 0;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px
}

.contact-form h3 {
  width: 100%;
  background: #03243e;
  text-align: center;
  text-transform: capitalize;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form input,
form textarea {
  margin: 5px 0;
  padding: 5px 0!important;
  border: none;
  font-size: 20px;
  border-bottom: 3px solid #03243e;
  background: transparent;

}

form input::placeholder {
  text-transform: capitalize;
  color: #03243e;
}

form textarea::placeholder {
  text-transform: capitalize;
  color: #03243e;
}

form button {
  font-size: 25px;
  margin: 10px 0;
  background: #03243e;
  border-radius: 20px;
  padding: 5px 0;
  color: #f5f3f5;
  color: rgba(244, 232, 222, 0.8);

  transition: color 2s ease, background 2s ease;

}

form button:hover {
  background: #549edc;
  color: #144f7f;
}


@media screen and (min-width:776px) {
  .contact-center {
    display: flex;
    padding: 0 40px;
  }
  .contact-info {
    flex: 0 0 calc(60% - 1em);
  }
  .contact-form {
    flex: 0 0 calc(40% - 1em);
  }
}


/* end contact  */

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }


}

/* buttons */
.btn-tour {
  position: relative;
  background-color: #d9b55a;
  border: 1px;
  border-radius: 3em;
  font-size: 16px;
  align-self: end;
  padding: 1.4rem;
  margin: 1rem;
}

.btn-tour:hover {
  color: rgb(78, 78, 162);
  transition-duration: 0.1s;
  background-color: #f1d9a2;
}
.btn-tour:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}
.btn-tour:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

/*footer*/

footer {
  background-color: #03243e;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:flex-start;
}

.footer-text {
  text-transform: uppercase;
  font-size: 15px;
  color: #e0e2db;
  margin-bottom: 10px;
}
.footer-text h4 {
  padding-bottom: 1rem;
  text-transform: lowercase;
}
.footer-text  h5 {
  text-transform:none;
}
.footer-text p a{
  text-transform: capitalize;
  font-size: 1rem;
  color: #e0e2db;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-text p a:hover {
  color: white;
}

.footer-icons {
  justify-content:center;
  font-size: 50px;
  margin-right: 40px !important;
  color: #e0e2db;
  padding-top: 5rem;
}


.footer-logo {
  padding-top: 0;
}
.footer-logo:hover {
  padding-top: 0;
  transform: translateY(-5px);
}


.ef:hover {
  color: #e6af2e;
  transform: translateY(-5px);
}
